# Copyright (c) 2024 Analog Devices, Inc.
# Copyright (c) 2026 Oresat (Portland State University)
# SPDX-License-Identifier: Apache-2.0

# zephyr-keep-sorted-start
rsource "icm42688/Kconfig"
# zephyr-keep-sorted-stop
